@font-face {
    font-family: 'Config Rounded';
    src: url('fonts/ConfigRounded-Medium.woff2') format('woff2'),
        url('fonts/ConfigRounded-Medium.woff') format('woff'),
        url('fonts/ConfigRounded-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Config Rounded Text';
    src: url('fonts/ConfigRounded-Text.woff2') format('woff2'),
        url('fonts/ConfigRounded-Text.woff') format('woff'),
        url('fonts/ConfigRounded-Text.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Config Rounded';
    src: url('fonts/ConfigRounded-Light.woff2') format('woff2'),
        url('fonts/ConfigRounded-Light.woff') format('woff'),
        url('fonts/ConfigRounded-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Config Rounded';
    src: url('fonts/ConfigRounded-Regular.woff2') format('woff2'),
        url('fonts/ConfigRounded-Regular.woff') format('woff'),
        url('fonts/ConfigRounded-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Archer Hairline';
    src: url('fonts/Archer-Hairline.woff2') format('woff2'),
        url('fonts/Archer-Hairline.woff') format('woff'),
        url('fonts/Archer-Hairline.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Archer';
    src: url('fonts/Archer-Bold.woff2') format('woff2'),
        url('fonts/Archer-Bold.woff') format('woff'),
        url('fonts/Archer-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Archer';
    src: url('fonts/Archer-Medium.woff2') format('woff2'),
        url('fonts/Archer-Medium.woff') format('woff'),
        url('fonts/Archer-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Config Rounded';
    src: url('fonts/ConfigRounded-Bold.woff2') format('woff2'),
        url('fonts/ConfigRounded-Bold.woff') format('woff'),
        url('fonts/ConfigRounded-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-BlackItalic.woff2') format('woff2'),
        url('fonts/Roboto-BlackItalic.woff') format('woff'),
        url('fonts/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-BoldItalic.woff2') format('woff2'),
        url('fonts/Roboto-BoldItalic.woff') format('woff'),
        url('fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Medium.woff2') format('woff2'),
        url('fonts/Roboto-Medium.woff') format('woff'),
        url('fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Italic.woff2') format('woff2'),
        url('fonts/Roboto-Italic.woff') format('woff'),
        url('fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-ThinItalic.woff2') format('woff2'),
        url('fonts/Roboto-ThinItalic.woff') format('woff'),
        url('fonts/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.woff2') format('woff2'),
        url('fonts/Roboto-Bold.woff') format('woff'),
        url('fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Light.woff2') format('woff2'),
        url('fonts/Roboto-Light.woff') format('woff'),
        url('fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Thin.woff2') format('woff2'),
        url('fonts/Roboto-Thin.woff') format('woff'),
        url('fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-MediumItalic.woff2') format('woff2'),
        url('fonts/Roboto-MediumItalic.woff') format('woff'),
        url('fonts/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-LightItalic.woff2') format('woff2'),
        url('fonts/Roboto-LightItalic.woff') format('woff'),
        url('fonts/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto-Regular.woff') format('woff'),
        url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Black.woff2') format('woff2'),
        url('fonts/Roboto-Black.woff') format('woff'),
        url('fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
.logoBanner{
    position: absolute;
    top: 25%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.logoBanner img {
    width: 700px;
}
.logoBanner h1 {
    font-size: 22px;
}
.timerBanner{
    width: 700px;
    height: 90px;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0px;
    z-index: 1;
    padding: 5px;
}
.timerBanner span{
	top: -13px;
    position: relative;
    font-size: 12px;
    font-family: 'Roboto';
	font-weight:bold;
	font-style:normal;
}
.timerBanner h3{
    font-family: 'Roboto';
    font-weight: bold;
    font-style: normal;
    font-size: 40px;
}
.containerRobot{
	padding: 0px 100px 280px 100px !important;
}
.imgRobot{
	top: 130px;
    position: relative;
    width: 100%;
}
.containerContentRobot{
	position: relative;
    top: 150px;
    width: 450px;
    color: white;
    
}
.containerContentRobot a{
	border-color: white;
    border-style: solid;
    border-width: 2px;
    color: white;
    padding: 5px;
    font-size: 18px;
    margin: 10px;
}
.containerContentRobot p{
	font-size: 20px;
	margin: 5px 10px;
	font-family: 'Config Rounded';
	font-weight: normal;
    font-style: normal;

}
.containerContentRobot p span{
	font-size: 30px;
	font-family: 'Config Rounded';
	font-weight: bold;
    font-style: normal;

}
.colorText1{
	font-size: 50px;
    color: #1eb9df;
    padding: 5px;
    font-family: 'Archer';
	font-weight: bold;
    font-style: normal;
}
.colorText2{
	font-size: 60px;
    color: #ee5b2e;
    padding: 5px;
    font-family: 'Archer';
	font-weight: bold;
    font-style: normal;
}
.colorText3{
	font-size: 70px;
    color: #e9196f;
    padding: 5px;
    font-family: 'Archer';
	font-weight: bold;
    font-style: normal;
}
.colorText4{
	font-size: 40px;
    color: #bdd341;
    padding: 5px;
}
.colorText5{
	font-size: 40px;
    color: #b1268c;
    padding: 5px;
    font-weight: 100;
    font-family: 'Archer';
    font-style: normal;
}
.btnBrochure{
	border-color: white;
    border-style: solid;
    border-width: 2px;
    color: white;
    padding: 5px;
    font-size: 18px;
    margin: 10px;
    position: relative;
    top: 20px;
    font-family: 'Config Rounded';
	font-weight: normal;
    font-style: normal;
}
.titleExperienceMarketing{
	color: #b1268c;
    text-align: right;
    font-size: 40px;
    font-family: 'Archer';
	font-weight: bold;
    font-style: normal;
}
.contentExperienceMarketing{
	background: #000000bd;
    color: white;
    text-align: left;
    padding: 14px;
    font-weight: 17px;
    font-family: 'Config Rounded ';
	font-weight: normal;
    font-style: normal;
}
.numberExperienceMarketing{
	font-size: 250px;
    color: #b1268c;
    font-family: 'Archer';
	font-weight: medium;
    font-style: normal;
}
.arrowsExperienceMarketing{
	position: relative;
    top: 50%;
    font-size: 70px;
    font-weight: 100;
    color:#b1268c;
    font-family: 'Archer';
	font-weight: bold;
    font-style: normal;
    cursor: pointer;
}
.arrowsSponsors{
    position: relative;
    top: 50%;
    font-size: 70px;
    font-weight: 100;
    color:#13377ce3;
    font-family: 'Archer';
    font-weight: bold;
    font-style: normal;
    cursor: pointer;
}
.logoSponsor{
    width: 500px;
}
.containerSpeaker{
	position: relative;
    top: 0;
    left: 50px;
    width: 450px;
    color: white;
}
.nameSpeaker{
   font-size: 37px;
   margin: 0;
   font-family: 'Archer';
	font-weight: bold;
    font-style: normal;
}
.subititleSpeaker{
	color: black;
	font-family: 'Config Rounded ';
	font-weight: lighter;
    font-style: normal;
    color: black;
}
.titleSpeaker{
	font-size: 15px;
    background: white;
    color: #ff5a16;
    width: 300px;
    font-family: 'Config Rounded ';
	font-weight: medium;
    font-style: normal;
}
.contentSpeaker{
	 margin-top: 40px;
    font-size: 14px;
    font-family: 'Config Rounded ';
	font-weight: normal;
    font-style: normal;
}
.backgroundContainerSpeaker{
	background: url(../img/fotSpeaker.jpg) !important;
	background-repeat: no-repeat !important;
	background-attachment: scroll !important;
	background-position: center center !important;
	background-size: cover !important;
}
.contentSpeakers{
    padding: 0 25px;
}

.imageSpeakers{
	width: 100%;
}
.nameSpeakers{
   font-size: 20px;
   margin: 0;
   font-family: 'Archer';
	font-weight: bold;
    font-style: normal;
}
.subititleSpeakers{
	color: black;
	font-family: 'Config Rounded ';
	font-weight: medium;
    font-style: normal;
    font-size: 12px;
}
.titleSpeakers{
	font-size: 12px;
    color: white;
    width: auto;
    padding: 2px;
    font-family: 'Config Rounded ';
	font-weight: medium;
    font-style: normal;
}
.containerSpeakersSlope{
	-webkit-transform: rotate(0deg) !important;
    -moz-transform: rotate(0deg) !important;
    -o-transform: rotate(0deg) !important;
    -ms-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
}
.containerSpeakersContent{
	-webkit-transform: rotate(0deg) !important;
    -moz-transform: rotate(0deg) !important;
    -o-transform: rotate(0deg) !important;
    -ms-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
    padding: 150px 100px 250px 100px !important;
}
.footerInput{
	height: 30px !important;
	background: #0000006b !important;
	border: none !important;
	width: 80% !important;
	font-size: 12px !important;
    color: white !important;

}
.footerLabel{
	color: white !important;
    margin-right: 25px !important;
    width: 50px !important;
    font-size: 15px !important;
    text-align: right !important;
}
.footerTextArea{
	height: 220px !important;
    background: #0000006b !important;
    border: none !important;
    width: 80% !important;
    border-radius: 5px 5px 5px 5px !important;
    padding: 15px 32px !important;
    margin: 5px !important;
    font-size: 12px !important;
    color: white !important;
}
.btnEnviarFooter{
    color: white;
    padding: 0 16px;
    font-size: 18px;
    margin: auto;
    position: relative;
    top: 20px;
    display: block;
    width: 100%;
    text-align: center;
    background: transparent;
    box-shadow: none;
}
.btnEnviarFooter:hover{
    color: white;
    padding: 0 16px;
    font-size: 18px;
    margin: auto;
    position: relative;
    top: 20px;
    display: block;
    width: 100%;
    text-align: center;
    background: transparent;
    box-shadow: none;
}
.footerCopy{
	position: relative;
    top: 60px;
    font-size: 10px;
    color: white;
    text-align: center;
    font-weight: 100;
}
.columnFormContact{
	padding: 0 45px;
}


#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #e9196f !important;
}

#mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #000000b5 !important;
}

#mainNav .navbar-toggler {
    background-color: #e9196f !important;
    background: url(../img/timer.jpg);background-repeat: no-repeat;
    background-position: center center;
}

#mainNav {
    background-color: #000000b8 !important;
    height: 60px;
    
}
#mainNav .navbar-nav .nav-item .nav-link {
	font-family: 'Config Rounded' !important;
	font-weight: medium !important;
    font-style: normal !important;
}
.mensajeFormContact{
    top: 40px;
    width: 100%;
    position: relative;

}
.mensajeFormContact p {
    padding: 5px;
    text-align: center;
    background: #000000b5;
    color: #ee5b2e;
}


.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.animatedStop3 {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: 3;
}
.animatedStop1 {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}
.bounce {
  animation-name: bounce;
}

@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}
@keyframes pulse2 {
  0% {transform: scale(1);}
  50% {transform: scale(0.8);}
  100% {transform: scale(1);}
}
.pulse {
  animation-name: pulse;
  animation-duration: 2s;
}
.pulse2 {
  animation-name: pulse2;
  animation-duration: 2.2s;
}
.pulse3 {
  animation-name: pulse2;
  animation-duration: 2.4s;
}
.pulse4 {
  animation-name: pulse2;
  animation-duration: 2.6s;
}
.pulse5 {
  animation-name: pulse2;
  animation-duration: 2.8s;
}


@keyframes shake {
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-5px);}
  20%, 40%, 60%, 80% {transform: translateX(5px);}
}
.shake {
  animation-name: shake;
}

@keyframes wobble {
  0% {transform: translateX(0%);}
  15% {transform: translateX(-25%) rotate(-2.4deg);}
  30% {transform: translateX(20%) rotate(3deg);}
  45% {transform: translateX(-15%) rotate(-3deg);}
  60% {transform: translateX(10%) rotate(2.4deg);}
  75% {transform: translateX(-5%) rotate(-1deg);}
  100% {transform: translateX(0%);}
}
.wobble {
  animation-name: wobble;
}


.swing {
  transform-origin: top center;
  animation-name: swing;
}

.paddingGrid{
    margin: 0 40px;
}






/**Mobile Resposive Setion**/
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
	#mainNav {
    	padding-top: 5px !important;
    	padding-bottom: 5px !important;
	}
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
	#mainNav {
    	padding-top: 5px !important;
    	padding-bottom: 5px !important;
	}
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
	#mainNav {
    	padding-top: 5px !important;
    	padding-bottom: 5px !important;
        height: 80px;
	}
    .containerContentRobot {
        position: relative;
        top: 150px;
        width: 300px;
        color: white;
    }
    .imgRobot {
        top: 130px;
        position: relative;
        width: 300px;
    }
    .containerRobot {
        padding: 0px 100px 370px 100px !important;
    }
    .paddingGrid {
        margin: 0 0;
    }
    .columnFormContact {
        padding: 0 0 0 60px;
    }
    .se-content {
        width: auto;
    }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	#mainNav {
    	padding-top: 5px !important;
    	padding-bottom: 5px !important;
        height: 80px;
	}
    .se-content {
        width: auto;
    }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  	.logoBanner img{
		width: 300px;
	}
	.timerBanner{
    	width: 300px;
	}
	.imgRobot{
		top: 25px;
	    position: relative;
	    height: 300px;
	}
	.containerContentRobot {
	    position: relative;
	    top: 0px;
	    width: 290px;
       
	}
	.containerContentRobot a{
    	font-size: 12px;
	}
	.containerContentRobot p{
		font-size: 17px;
	}
    .containerRobot {
        padding: 0px 100px 365px 100px !important;
    }
	.colorText1{
		font-size: 30px;
	}
	.colorText2{
		font-size: 40px;
	}
	.colorText3{
		font-size: 50px;
	}
	.colorText4{
		font-size: 25px;
	}
	.colorText5{
		font-size: 25px;
	}
	.numberExperienceMarketing{
		font-size: 100px;
	}
	.titleExperienceMarketing{
    	font-size: 30px;
	}
	.arrowsExperienceMarketing{
    	font-size: 35px;
	}
	.backgroundContainerSpeaker{
		background: url(../img/fotSpeaker2.jpg) !important;
		background-repeat: no-repeat !important;
		background-attachment: scroll !important;
		background-position: center center !important;
		background-size: cover !important;
	}
	.containerSpeaker {
	    position: relative;
	    top: 0;
	    left: 50px;
	    width: 300px;
	    color: white;
	    background: #ff5e1da6;
	    padding: 10px;
	}
	.titleSpeaker {
	    font-size: 12px;
	    background: white;
	    color: #ff5a16;
	    width: 250px;
	}
	.footerInput{
		width: 100%
	}
	.footerTextArea{
		width: 100%
	}
	.btnEnviarFooter {
    	padding:0;
	}
	.columnFormContact{
		padding: 0;
	}
	.containerContentRobot p span{
		font-size: 20px;
		font-family: 'Config Rounded';
		font-weight: bold;
	    font-style: normal;
	}
    .arrowsExperienceMarketing{
        background: #b1258c;
        color: white;
        position: relative;
        top: 0px;

    }
    .arrowsSponsors{
        background: #13377ce3;
        color: white;
        position: relative;
        top: 0px;
        font-size: 35px;
        width: 50%;
        margin: auto;

    }
    .paddingGrid{
        margin: 0 ;
    }
    .containerSpeakersContent{
        padding: 150px 40px 250px 40px !important;
    }
    .contentSpeakers{
        padding: 0 50px;
    }
    .logoSponsor{
        width: 250px;
    }
    .timerBanner h3{
        font-size: 30px;
    }
    .logoBanner{
        top: 40%;
    }
    .se-content {
        width: auto;
    }
    #mainNav {
        height: 80px;
    }


}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
	.logoBanner img{
		width: 300px;
	}
	.timerBanner{
    	width: 300px;
	}
	.imgRobot{
		top: 25px;
	    position: relative;
	    height: 300px;
	}
	.containerContentRobot {
	    position: relative;
	    top: 0px;
	    width: 290px;
	}
	.containerContentRobot a{
    	font-size: 12px;
	}
	.containerContentRobot p{
		font-size: 17px;
	}
    .containerRobot {
        padding: 0px 100px 365px 100px !important;
    }
	.colorText1{
		font-size: 30px;
	}
	.colorText2{
		font-size: 40px;
	}
	.colorText3{
		font-size: 50px;
	}
	.colorText4{
		font-size: 25px;
	}
	.colorText5{
		font-size: 25px;
	}
	.numberExperienceMarketing{
		font-size: 100px;
	}
	.titleExperienceMarketing{
    	font-size: 30px;
	}
	.arrowsExperienceMarketing{
    	font-size: 35px;
	}
	.backgroundContainerSpeaker{
		background: url(../img/fotSpeaker2.jpg) !important;
		background-repeat: no-repeat !important;
		background-attachment: scroll !important;
		background-position: center center !important;
		background-size: cover !important;
	}
	.containerSpeaker {
	    position: relative ;
	    top: 0;
	    left: 50px;
	    width: 300px;
	    color: white;
	    background: #ff5e1da6;
	    padding: 10px;
	}
	.titleSpeaker {
	    font-size: 12px;
	    background: white;
	    color: #ff5a16;
	    width: 250px;
	}
	.footerInput{
		width: 100% !important;
	}
	.footerTextArea{
		width: 100% !important;
	}
	.btnEnviarFooter {
    	padding:0;
	}
	.columnFormContact{
		padding: 0;
	}
	.containerContentRobot p span{
		font-size: 20px;
		font-family: 'Config Rounded';
		font-weight: bold;
	    font-style: normal;
	}
    .arrowsExperienceMarketing{
        background: #b1258c;
        color: white;
        position: relative;
        top: 0px;

    }
    .arrowsSponsors{
        background: #13377ce3;
        color: white;
        position: relative;
        top: 0px;
        font-size: 35px;
        width: 50%;
        margin: auto;
    }
    .paddingGrid{
        margin: 0 ;
    }
    .containerSpeakersContent{
        padding: 150px 40px 250px 40px !important;
    }
    .contentSpeakers{
        padding: 0 50px;
    }
    .logoSponsor{
        width: 250px;
    }
    .timerBanner h3{
        font-size: 30px;
    }
    .logoBanner{
        top: 40%;
    }
    .se-content {
        width: auto;
    }
    #mainNav {
        height: 80px;
    }

 
}
