<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Somos una plataforma de conocimiento de alto nivel más relevante de habla hispana, con presencia en 8 países, 30 eventos en Latinoamérica y más de 35.000 asistentes al año. Un movimiento global que está dando de qué hablar en el mundo entero por la calidad inigualable de sus speakers, contenido de valor y grandes experiencias." />
    <meta name="author" content="EXMA BOLIVIA" />

    <title>EXMA 2020 - MAKE THE FUTURE YOURS</title>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="img/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="img/favicon//favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="img/favicon//favicon-16x16.png"
    />
    <link rel="manifest" href="img/favicon//site.webmanifest" />
    <link
      rel="mask-icon"
      href="img/favicon//safari-pinned-tab.svg"
      color="#5bbad5"
    />

    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom fonts for this template -->
    <link
      href="vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Kaushan+Script"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Custom styles for this template -->
    <link href="css/agency.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/exma.css" />
     
    <link
      href="http://fonts.googleapis.com/css?family=Bitter"
      rel="stylesheet"
      type="text/css"
    />

    <script src='https://s3-us-west-2.amazonaws.com/static.eventrid.cl/files/iframe.resizer.js'></script>
    <script src='https://d10347yu6bo3wz.cloudfront.net/js/referido.min.js?event=EB2&hash=866446ea&host=https://www.eventrid.bo/exma'></script>

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <div id="app">
      <div class="btnWhatsapp">
        <a target="_blank" href="http://bit.ly/quieroexma2020">
          <i class="fab fa-whatsapp"></i>
        </a>
        
      </div>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"
          ><img src="img/logoExma2020.png" style="height:40px" alt=""
        /></a>
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#inicio">INICIO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#experience">EXPERIENCE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#speakers">SPEAKERS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#tickets"
                >TICKETS</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contacto"
                >CONTACTO</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->

    <section id="inicio" class="se-container" style="padding: 0; background: url(img/fondo10x.jpg) center center / cover no-repeat scroll; ">
       <header class="masthead" style="background: url(img/fondo1x.jpg);background-repeat: no-repeat;background-attachment: scroll;background-position: center center;background-size: cover; height: 85vh" >
        <div class="">
          <div class="logoBanner" >
            <h1 class=""><img style="width: 100px" src="img/fecha.png"></h1>
            <img src="img/exma2020banner.png">
            <h1 class="">
            <a style="border: none;background: rgb(246, 90, 24);padding: 10px;" data-aos="zoom-in" class="btnSlider" href="#tickets">LLÉVAME AL FUTURO</a>
            <h1/>
          </div>
          
          <div  class="timerBanner" style="background: url(img/timer.jpg);background-repeat: no-repeat;background-attachment: scroll;background-position: center center;background-size: cover;">
            <div class="row row-cols-4">
              <div class="col" style="text-align: center;">
                <h3 id="dias">12</h3>
                <label>DIAS</label>
              </div>
              <div class="col" style="text-align: center;">
                <h3 id="horas">12</h3>
                <label>HORAS</label>
              </div>
              <div class="col" style="text-align: center;">
                <h3 id="minutos">12</h3>
                <label>MIN</label>
              </div>
              <div class="col" style="text-align: center;">
                <h3 id="segundos">12</h3>
                <label>SEG</label>
              </div>
            </div>
          </div>
        </div>
      </header>
      

      <div class="se-slope" style="background: url(img/fondoAzul.png);background-repeat: no-repeat;background-attachment: scroll;background-position: center center;background-size: cover;">
        <article class="se-content containerRobot">
          <div class="row">
            <div class="col-sm-6">
              <img data-aos="fade-right" data-aos-offset="200"data-aos-easing="ease-in-sine" class="imgRobot" src="img/robot.png">
            </div>
            <div class="col-sm-6">
              <div class="containerContentRobot">
                <img data-aos="flip-left" style="width: 100%" src="img/logoExmaNormal.png">
                <p data-aos="flip-up"  v-html="this.data.aboutExma"></p>
                <a data-aos="zoom-in" class="btnBrochure" target="_blank"  href="https://www.facebook.com/EXMABolivia/">{{this.data.btnAboutExma}}</a>
              </div>
              
            </div>
          </div>
        </article>
      </div>
      <div id="experience" class="se-slope" style="background: url(img/fondo3x.jpg);background-repeat: no-repeat;background-attachment: scroll;background-position: center center;background-size: cover; padding: 60px 100px 110px 100px;">
        <article class="se-content" style="padding: 150px 10px 250px 10px;">
            <div class="row ">
             
              <div class="col-md-12 col-xs-12" style="text-align: center;">
                <div>
                  <div class="row row-cols-2">
                    <div class="col-sm-6" style="text-align: center;">
                       <div>
                        <h1 data-aos="fade-up" class="titleExperienceMarketing">{{this.data.slidesExperience[this.slideCount].title}}</h1>
                        <p data-aos="fade-left" class="contentExperienceMarketing" v-html="this.data.slidesExperience[this.slideCount].content"></p>
                      </div>
                    </div>
                    <div class="col-sm-6" style="text-align: center;">
                      
                    </div>
                  </div>
                  <div class="containerDots">
                    <a v-for="(item,i) of this.data.slidesExperience" :key="i"  >
                      <i class="fas fa-circle dot" @click="slideCount = i"></i>
                    </a>
                  </div>
                </div> 
              </div>
            </div>
        </article>
      </div>
      <div class="se-slope" style="background: url(img/fondo8x.jpg);background-repeat: no-repeat;background-attachment: scroll;background-position: center center;background-size: cover;">
        <article class="se-content contentDataNumbers">
          <div class="grid-containerDatanumber">
            <div class="grid-item">
              <h1 class="numberDataNumber">
                <span class='numscroller' data-min='1' data-max='2' data-delay='5' data-increment='1'>2</span>
              </h1>
              <label class="titleDataNumber">DÍAS</label>
            </div>
            <div class="grid-item">
              <h1 class="numberDataNumber">
                <span class='numscroller' data-min='1' data-max='12' data-delay='5' data-increment='1'>12</span>
              </h1>
              <label class="titleDataNumber">SPEAKERS</label>
            </div>
            <div class="grid-item">
              <h1 class="numberDataNumber">
                <span class='numscroller' data-min='1' data-max='20' data-delay='5' data-increment='1'>20</span>+
              </h1>
              <label class="titleDataNumber">20 HORAS DE INSPIRACIÓN</label>
            </div>
            <div class="grid-item">
              <h1 class="numberDataNumber">
                <span class='numscroller' data-min='1' data-max='1500' data-delay='10' data-increment='5'>1500</span>
              </h1>
              <label class="titleDataNumber">ASISTENTES</label>
            </div>
            <div class="grid-item">
              <h1 class="numberDataNumber">
                <span class='numscroller' data-min='1' data-max='40' data-delay='5' data-increment='5'>40</span>+
              </h1>
              <label class="titleDataNumber">SPONSORS</label>
            </div>
            
        </div>
        </article>
      </div>
      <div class="se-slope" style="background: url(img/fondo9x.jpg);background-repeat: no-repeat;background-attachment: scroll;background-position: center center;background-size: cover;">
        <article class="se-content contentPowerContent">
          <h1 data-aos="flip-up" style="text-align: center; color: #ffffff;font-family: 'Archer';font-weight: bold;font-style: normal;">POWER CONTENT</h1>
          <div class="grid-container">
            <div class="grid-item">
              <a @click="showIcon5()" >
                <img data-aos="zoom-in" class="icons animated pulse" src="img/icono1.png">
                <label class="titleIcons">Conciencia</label>
              </a>
            </div>
            <div class="grid-item">
              <a @click="showIcon2()">
                <img data-aos="zoom-in" class="icons animated pulse" src="img/icono2.png">
                <label class="titleIcons">Entornos & Ciudades</label>
              </a>
            </div>
            <div class="grid-item">
              <a @click="showIcon3()">
                <img data-aos="zoom-in" class="icons animated pulse" src="img/icono3.png">
                <label class="titleIcons">Transacciones</label>
              </a>
            </div>
            <div class="grid-item">
              <a @click="showIcon4()">
                <img data-aos="zoom-in" class="icons animated pulse" src="img/icono4.png">
                <label class="titleIcons">Tecnología</label>
              </a>
            </div>
            <div class="grid-item">
              <a @click="showIcon1()">
                <img data-aos="zoom-in" class="icons animated pulse" src="img/icono5.png">
                <label class="titleIcons">Consumidor</label>
              </a>
            </div>
          </div>
          <div @click="closeDescription()" v-if="this.showDecriptionPower" class="descriptionIcons">
                <p>{{this.data.powerContent[this.powerContentIndex].description}}</p>
          </div>
          
        </article>
      </div>

   
      <div class="se-slope backgroundContainerSpeaker" style="">
        <article class="se-content ">
          <div class="row">
            <div class="col-sm-6">
              
            </div>
            <div class="col-sm-6">
              <div class="containerSpeaker" data-aos="fade-down-left">
                <h4 class="nameSpeaker" v-html="this.data.nameSpeaker"></h4>
                <label class="subititleSpeaker">{{this.data.subtitleSpeaker}}</label>
                <h5 class="titleSpeaker">{{this.data.titleSpeaker}}</h5>

                <p class="contentSpeaker" v-html="this.data.contentSpeaker"></p>
              </div>
              
            </div>
          </div>
        </article>
      </div>
      <div id="speakers" class="se-slope containerSpeakersSlope" style="background: white">
        <article class="se-content containerSpeakersContent">
          <h1 style="text-align: center; color: #422e83;font-family: 'Archer';font-weight: bold;font-style: normal;">{{this.data.slide6Title}}</h1>
          <div class="row row-cols-3 paddingGrid" >
            <div class="col-sm-4" v-for="(item,i) of this.data.speakers" :key="i">
              <div data-aos="zoom-out" class="containerSpeakers">
                <!--<a data-toggle="modal" :data-target="'#speakerData' + i">
                  <img  class="imageSpeakers" :src="item.smallImagen">
                </a>-->
                <a >
                  <img  class="imageSpeakers" :src="item.smallImagen">
                </a>
                <div class="contentSpeakers" >
                  <a >
                    <h4 v-bind:style="{ color: item.color2}" class="nameSpeakers" v-html="item.nombre"></h4>
                  </a>
                  <label  class="subititleSpeakers">{{item.cargo}}</label> <br>
                  <label v-bind:style="{ background: item.color2}"  class="titleSpeakers">{{item.tema}}</label>
                </div>
              </div>
            </div>
        
        </article>
      </div>
      <div class="se-slope" style="background: url(img/fondo2x.jpg);background-repeat: no-repeat;background-attachment: scroll;background-position: center center;background-size: cover;">
        <article class="se-content sponsorsContent" style="text-align: center;">
          <h1 data-aos="flip-up" style="text-align: center; color: #ffffff;font-family: 'Archer';font-weight: bold;font-style: normal;">SPONSORS</h1>
          <div>
            <div class="row row-cols-3">
              <div class="col-md-1 col-xs-2" style="text-align: center;">
                <h1 data-aos="zoom-in" class="arrowsSponsors" @click="prevSponsor" @mouseover="stopCarusel()"
          @mouseleave="startCarusel()"><</h1>
              </div>
              <div class="col-md-10 col-xs-8" style="text-align: center;">
                <div>
                  <img class="logoSponsor" :src="this.data.sponsors[this.slideCountS].imagen">
                </div> 
              </div>
              <div class="col-md-1 col-xs-2" style="text-align: center;">
                <h1  class="arrowsSponsors" @click="nextSponsor" @mouseover="stopCarusel()"
          @mouseleave="startCarusel()">></h1>
              </div>
            </div>

          </div>
           <a data-toggle="modal" data-target="#sponsorsModal" data-aos="zoom-in" class="btnBrochure"   href="">{{this.data.btnSponsors}}</a>
          
        </article>
      </div>
      <div id="tickets" class="se-slope containerSpeakersSlope" style="background: url(img/fondo11x.jpg);background-repeat: no-repeat;background-attachment: scroll;background-position: center center;background-size: cover;">
        <article class="se-content containerTicketssContent">
          <h1 data-aos="flip-up" style="text-align: center; margin-bottom: 50px; color: white;font-family: 'Archer';font-weight: bold;font-style: normal;">TICKETS</h1>
          <div class="row row-cols-3 paddingGrid" >
            <div class="col-sm-4">
              <a onClick="fbq('track', 'Business');" data-toggle="modal" data-target="#ticketsBuy">
                <img data-aos="fade-right" data-aos-duration="2000" style="width: 100%" src="img/ticket1.png">
              </a>
            </div>
            <div class="col-sm-4">
              <a onClick="fbq('track', 'Vip');" data-toggle="modal" data-target="#ticketsBuy">
                <img data-aos="fade-down" data-aos-duration="2000" style="width: 100%" src="img/ticket2.png">
              </a>
            </div>
            <div class="col-sm-4">
              <a onClick="fbq('track', 'Vip+');" data-toggle="modal" data-target="#ticketsBuy">
                <img data-aos="fade-left" data-aos-duration="2000" style="width: 100%" src="img/ticket3.png">
              </a>
            </div>
          </div>
        </article>
      </div>
      <div id="contacto" class="se-slope" style="background: url(img/fondo10x.jpg);background-repeat: no-repeat;background-attachment: scroll;background-position: center center;background-size: cover;  ">
        <article class="se-content" style="padding: 100px 100px 100px 100px;">
          <div class="row flex-column-reverse flex-md-row" style="margin: 0 40px;">
            <div class="col-sm-6 ">
                <img style="width: 100%; margin-top: 40px;" src="img/footer.png">
            </div>
            <div class="col-sm-6 columnFormContact">
             <h2 data-aos="flip-up" style="text-align: center;color: white; margin: 5px 0; font-size: 25px;font-family: 'Archer';font-weight: bold;font-style: normal;">ESCRÍBENOS</h2>
                <div style="width: 100%">
                  <label class="footerLabel">Nombre:</label>
                  <input class="footerInput" type="text" v-model="nombre" name="nombre">
                </div>
                <div style="width: 100%">
                  <label class="footerLabel">Apellido:</label>
                  <input class="footerInput" type="text" v-model="apellido" name="apellido">
                </div>
                <div style="width: 100%">
                  <label class="footerLabel">Email:</label>
                  <input class="footerInput" type="text" v-model="email" name="email">
                </div>
                <div style="width: 100%">
                  <label style="vertical-align: top" class="footerLabel" >Mensaje:</label>
                  <textarea class="footerTextArea" v-model="mensaje" name="mensaje" ></textarea>
                </div>
              <button class="btnEnviarFooter" @click="sendContact()">ENVIAR</button>
              <div v-if="showMessage" class="mensajeFormContact">
                <p>{{message}}</p>
              </div>
            </div>
           
          </div>
          <p class="footerCopy">© 2020, EXMA BOLIVIA, TODOS LOS DERECHOS RESERVADOS</p>
        </article>

      </div>
    </section>
  


    <!-- Modal Ticketera -->
    <div class="modal fade" id="ticketsBuy" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" style="border: none;box-shadow: none;" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="padding: 0;">
            <iframe src="https://www.eventrid.bo/exma/eventos/exma-bolivia-2020/participantes/inscripcion/iframe" height="1300" frameborder="0" scrolling="no" allowtransparency="true" style="width: 100%;"></iframe>
          </div>
          
        </div>
      </div>
    </div>
    <!-- Modal Sponsors -->
    <div class="modal fade" id="sponsorsModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div  class="modal-dialog modal-xl" role="document">
        <div class="modal-content" style="background: url(img/fondoModalSponsors.jpg);background-repeat: no-repeat;background-attachment: scroll;background-position: center center;background-size: cover;">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" style="border: none;box-shadow: none;" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-3 d-none d-sm-block" style="padding: 0">
                <img style="width: 100%; padding: 30px;" src="img/logoExmaSponsor.png">
              </div>
              <div class="col-sm-9" style="text-align: right;">
                <h1 class="modalSponsorTitle">Tu empresa puede ser parte del futuro</h1>
                <p class="modalSponsorDescription">EXMA 2020 será el evento que cambiará todo.<br> Tu lugar está con nosotros.<br> <br>Déjanos tus datos y nos contactaremos en un click.</p>
                <div style="margin-top: 50px">
                  <div style="width: 100%; margin: 10px 0;">
                    <label class="footerLabel">Nombre:</label>
                    <input class="footerInput" type="text" v-model="nombreSponsor" name="nombre">
                  </div>
                  <div style="width: 100%; margin: 10px 0;">
                    <label class="footerLabel">Teléfono:</label>
                    <input class="footerInput" type="text" v-model="telefonoSponsor" name="telefono">
                  </div>
                  <div style="width: 100%; margin: 10px 0;">
                    <label class="footerLabel">Email:</label>
                    <input class="footerInput" type="text" v-model="emailSponsor" name="email">
                  </div>
                  <div style="width: 100%; margin: 10px 0;">
                    <label class="footerLabel">Empresa:</label>
                    <input class="footerInput" type="text" v-model="empresaSponsor" name="empresa">
                  </div>
                </div>
                
                
              <button data-aos="zoom-in" class="btnEnviarSponsors" @click="sendSponsors()">QUIERO SER PARTE DEL FUTURO</button>
              <div v-if="showMessageSponsor" class="mensajeFormContact">
                <p>{{message}}</p>
              </div>
              </div>
            </div>
          </div>
          </div>
          
        </div>
      </div>
   
    <!-- Modal Speakers -->
    <div v-for="(item,i) of this.data.speakers" :key="i" class="modal fade" :id="'speakerData' + i"  tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" style="border: none;box-shadow: none;" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row" v-bind:style="{ background: item.color2, margin: 0 }">
              <div class="col-sm-6" style="padding: 0">
                <img style="width: 100%" :src="item.imagen">
              </div>
              <div class="col-sm-6">
                <div class="containerSpeakerModal" data-aos="fade-down-left">
                  <h4 class="nameSpeakerModal" v-html="item.nombre"></h4>
                  <label class="subititleSpeakerModal">{{item.cargo}}</label>
                  <h5 class="titleSpeakerModal" v-bind:style="{ color: item.color2}">{{item.tema}}</h5>
                  <p class="contentSpeakerModal" v-html="item.resumen"></p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
</div>
    <!-- Bootstrap core JavaScript -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/jquery/numscroller-1.0.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/modernizr.custom.34978.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    

   
    <script>iFrameResize({log : false,enablePublicMethods : false,resizedCallback : function(messageData){}});</script>

    <!-- Custom scripts for this template -->
    <script src="js/agency.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/home.js"></script>
    

    <script>
      AOS.init();
    </script>

    <script>
    // Set the date we're counting down to
    var countDownDate = new Date("May 28, 2020 08:00:00").getTime();

    // Update the count down every 1 second
    var x = setInterval(function() {

      // Get today's date and time
      var now = new Date().getTime();

      // Find the distance between now and the count down date
      var distance = countDownDate - now;

      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      // Display the result in the element with id="demo"
      document.getElementById("dias").innerHTML = days;
      document.getElementById("horas").innerHTML = hours;
      document.getElementById("minutos").innerHTML = minutes;
      document.getElementById("segundos").innerHTML = seconds;


      // If the count down is finished, write some text
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("dias").innerHTML = 0;
        document.getElementById("horas").innerHTML = 0;
        document.getElementById("minutos").innerHTML = 0;
        document.getElementById("segundos").innerHTML = 0;
      }
    }, 1000);


</script>
<script>
$(function() {
    $('a[href*=\\#]:not([href=\\#])').on('click', function() {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.substr(1) +']');
        if (target.length) {
            $('html,body').animate({
                scrollTop: target.offset().top
            }, 1000);
            return false;
        }
    });

    
});
</script>
<script >
  $('.count').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 4000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
</script>

  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window,document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
   fbq('init', '562878387420147'); 
  fbq('track', 'PageView');
  </script>
 
  <!-- End Facebook Pixel Code -->


<!-- Load Facebook SDK for JavaScript -->
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v6.0'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Your customer chat code -->
      <div class="fb-customerchat"
        attribution=setup_tool
        page_id="114544805371486"
        logged_in_greeting="¡Bienvenido a EXMA! ¿Cómo podemos ayudarte hoy?"
        logged_out_greeting="¡Bienvenido a EXMA! ¿Cómo podemos ayudarte hoy?">
      </div>
  </body>
</html>
